@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@font-face {
  font-family: 'vysIcon';
  src:  url('vysIcon.eot?mhku4w');
  src:  url('vysIcon.eot?mhku4w#iefix') format('embedded-opentype'),
    url('vysIcon.ttf?mhku4w') format('truetype'),
    url('vysIcon.woff?mhku4w') format('woff'),
    url('vysIcon.svg?mhku4w#vysIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vysIcon"], [class*=" vysIcon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vysIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vysIconPlay:before {
  content: "\ea1c";
}
.vysIconPause:before {
  content: "\ea1d";
}

.vysPlay {
  font-family: "Open Sans", sans-serif;
  background: #c3d76c;
  padding: 15px;
  color: #fff;
  display: inline-block;
  width: 600px;
  height: 90px;
  border-radius: 4px;
  box-shadow: 0px 3px 0px #a5b65c;
  position: relative;
  overflow: hidden;
}
.vysPlay .vysPlayCover {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 3px;
}
.vysPlay .vysPlayTitle, .vysPlay .vysPlayArtist, .vysPlay .vysPlayDurationBar {
  margin-left: 110px;
  display: block;
  width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.vysPlay .vysPlayTitle {
  font-size: 22px;
}
.vysPlay .vysPlayArtist {
  font-size: 14px;
}
.vysPlay .vysPlayVolume {
  transform: rotateZ(-90deg);
  position: absolute;
  top: 20px;
  right: -43px;
  bottom: 20px;
  width: 90px;
}
.vysPlay .vysPlayVolume input {
  width: 90px;
}
.vysPlay .vysPlayPlayButton {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90px;
  height: 90px;
  display: block;
  line-height: 90px;
  text-align: center;
  font-size: 48px;
  background: rgba(0,0,0,.2);
  text-shadow: 0px 0px 3px rgba(0,0,0,.2);
}
.vysPlay .vysPlayPlayButton.vysIconPause {
  opacity: 0;
}
.vysPlay .vysPlayPlayButton.vysIconPause:hover {
  animation-name: show;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.vysPlay .vysPlayDuration {
  position: absolute;
  right: 55px;
  top: 95px;
  font-size: 14px;
}
.vysPlay .vysPlayDurationBar input[type=range] {
  margin-top: 25px;
  width: 450px;
}
.vysPlay .vysPlayDurationBar input[type=range]::-ms-track {
  width: 450px;
}
.vysPlay input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
.vysPlay input[type=range]:focus {
  outline: none;
}
.vysPlay .vysPlayDurationBar input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.vysPlay input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 0px 0px 2px rgba(0,0,0,.3);
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  transform: translateY(-4px);
}
.vysPlay input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px rgba(0,0,0,.3);
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  transform: translateY(-4px);
}
.vysPlay input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 2px rgba(0,0,0,.3);
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  transform: translateY(-4px);
}
.vysPlay input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #def08e;
  border-radius: 2px;
}
.vysPlay input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #def08e;
  border-radius: 2px;
}
.vysPlay input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-radius: 2px;
}
.vysPlay input[type=range]::-ms-fill-lower{
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #def08e;
  border-radius: 2px;
}
.vysPlay input[type=range]::-ms-fill-upper{
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #def08e;
  border-radius: 2px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
